*{
    margin:0; 
    padding:0; 
    box-sizing: border-box;
}

.bio-hero {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 15px;
}

nav {
    display:flex;
    flex-direction: column
    }

.card-grid{
    display:flex;
    flex-direction:column;
    }

.card{
    flex-basis: 100%
    }
    

@media (min-width:768px) {

    nav{
        flex-direction:row;
    }
    .card-grid{
        flex-direction: row;
        justify-content:space-between;
    }
    .card{
        flex-basis:30%
    }

}

.card{
    transition:box-shadow 0.3s ease;
}

.card:hover{
    box-shadow:3px 4px 4px;
}
